<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<head>
    <meta charset="utf-8"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="../css/tachyons.min.css" />

    <link rel="stylesheet" href="../css/entry.css">

    <title>dialed.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<article class="flex flex-wrap ma6">
        <div class="w-50 pl5 pt5 measure-wide center">
            <header class="pt4 fixed">
                <a href="../index.html">
                    <h1 class="b link dim">
                        joseph rangel
                    </h1>
                </a>
                <nav class "fw3 black items-end-l">
                    <a class="dim" href="http://git.dialed.rip">git</a>
                    <a class="dim" href="../archive/archive.html">archive</a>
                    <a class="dim" href="../links.html">links</a>
                    <a class="dim" href="../contact.html">contact</a>
                </nav>
                <div class="pt3">
                    <h4 id="issue"class="fw4 ml3"></h4>
                    <h4 id="title" class="bold"></h4>
                    <h4 id="date" class="fw3"><span id="topics"></span></h4>
                </div>
            </header>
        </div>

        <div class="w-50">
            <div id="junkp" class="f5 fw2 lh-copy measure"></div>
        </div>
</article>

</body>

</html>
